* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    padding: 5px;
    width: 500px;
    border: 1px solid grey;
}
form {
    width: 100%;
    color: gray;
    font-weight: bold;
}
label {
    width: 100%;
    display: block;
}
input, select, button {
    width: 100%;
    margin-bottom: 10px;
}
input {
    padding: 5px;
    display: block;
}

button {
    padding: 5px;
    background-color: green;
    color: white;
}